*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #A4B494;
    text-align: center;
}

.boardsection{
    /* background-color: #BEC5AD; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    
    height: 70vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.buttoncontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
    height: 60vmin;
    width: 60vmin;
}

.button{
    background-color : #BEC5AD;
   height : 18vmin;
   width: 18vmin;
   border-radius: 1rem;
   border: 0;
   box-shadow: 1rem 1rem 16rem rgba(159, 224, 214, 0.5);
   font-size: 4vmin;
   color:#34252F;
}

.reset{
    height: 5vh;
    width: 10vw;
    background-color: rgba(245, 222, 179, 0.5); 
   border-radius: 0.2rem;
   border: 0;
   box-shadow: 1rem 1rem 16rem rgba(159, 224, 214, 0.5);
   color:#34252F;
}